name: Health check
on:
  push:
    branches:
      - master
  schedule:
    - cron:  '50 5 * * *'

jobs:
  health_check:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v2
        with:
          url: https://pokedexsand.herokuapp.com
          follow-redirect: false 
          max-attempts: 3 
          retry-delay: 5s 
          retry-all: false 